@import "../../variables";

.header {
  background: $darkMain;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $textWhite;
  padding: $bodyPadding;
}

.header-search-form {
  width: 80%;
  max-width: 500px;
}

.header-search {
  display: flex;
  color: $textGray;
  background: $bgWhite;
  height: 36px;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;

  input {
    height: 100%;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
  }

  .se-icon {
    border: none;
    border-left: 1px solid $lightGray;
    color: $lightGray;
    font-size: 20px;
    padding: 7px 10px;
    cursor: pointer;

    &:active {
      background: #f3f3f3;
    }
  }
}