@import "../../variables";

.header {
  background: $darkMain;
  height: 50px;
  display: flex;
  align-items: center;
  color: $textWhite;
  padding: $bodyPadding;
}

.header-search {
  color: $textBlack;
}