@import "../scss/variables";

* {
  color: inherit;
  box-sizing: border-box;
  line-height: 1.3;
}

body {
  color: $textBlack;
  background: $bodyBg;
}

input {
  outline: none;
  border: none;
  background: transparent;
}

button {
  outline: none;
  background: transparent;
}

.full-width {
  width: 100%;
}

.se-field-text {
  padding: 3px 10px;
  border: 1px solid $borderInputGray;
}

