$bodyBg: #f3f3f3;
$bgWhite: #ffffff;

$textWhite: #ffffff;
$textBlack: #444444;
$textGray: #616161;
$lightGray: #929292;

$main: #00EFFF;
$lightMain: #00D7E5;
$middleMain: #00B3BF;
$darkMain: #00787F;
$darkerMain: #003C40;

$borderInputGray: rgba(0, 0, 0, 0.12);
$borderGray: rgba(0, 0, 0, 0.12);

/*
 indents
 */

$bodyPadding: 0 20px;