$bodyBg: #f3f3f3;

$textWhite: #ffffff;
$textBlack: #444444;
$textGray: #616161;

$main: #00EFFF;
$lightMain: #00D7E5;
$middleMain: #00B3BF;
$darkMain: #00787F;
$darkerMain: #003C40;

/*
 indents
 */

$bodyPadding: 0 20px;