@import "variables";

.album-table {
  border: 1px solid $borderColorLightGray;

  .album-img {
    width: 95px;
  }

  thead tr {
    border-bottom: 1px solid $borderColorLightGray;
  }

  tr:not(:last-child) {
    border-bottom: 1px solid $borderColorLightGray;
  }

  td {
    vertical-align: top;
  }

  td:first-child {
    padding-top: 2.2em;
    width: 20px;
    font-size: 14px;
    cursor: pointer;
  }

  td:not(:last-child), th:not(:last-child){
    border-right: 1px solid $borderColorLightGray;
  }

  tr:not(:last-child) {
    border-bottom: 1px solid $borderColorLightGray;
  }
}

.wp-track-control {
  .icon_st {
    font-size: 14px;
    cursor: pointer;
  }
}