@import "variables";

gallery {
  overflow: auto;
}

.photos {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.photo-item {
  padding: 5px;

  img {
    width: 75px;
    height: 75px;
    cursor: pointer;
    border-radius: $bRadiusLg;
    transition: box-shadow .2s linear;

    &:hover, &.active {
      box-shadow: $boxShadowLight;
    }
  }
}

@media (min-width: 769px) {
  gallery {
    height: 100%;
    width: 150px;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 1;
  }

  .photos {
    flex-direction: column;
  }

  .photo-item {

    img {
      width: 100px;
      height: 100px;
    }
  }
}