@import "variables";

game {
  width: 100%;
}

//****************Top game info panel******************//

.game-info {
  margin: 0 20px 20px;
  font-size: 20px;
  
  display: flex;
  justify-content: flex-end;
}

.move-count {
  display: inline-block;
}

//****************Grid game board panel******************//

board {
  display: flex;
  justify-content: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  .background {
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  &.start-game {
    background: #000;

    .background {
      opacity: 0.15;
      z-index: 0;
    }
  }
}

.tile {
  box-shadow: 0 0 3px rgba(10, 10, 10, 0.8);
  transition: all .5s, opacity 1s ease-in, filter 1s ease-in;
  position: absolute;
  z-index: 1;
  &.is-blank {
    opacity: 0;
  }
}

.hide-index {
  .tile-index {
    display: none;
  }
}

.tile-index {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  text-shadow: 1px 1px 10px $clWhite;
}

//****************Bottom game control panel******************//

.game-control {
  text-align: center;
  margin-top: 20px;
}

//****************Media******************//

@media (min-width: 769px) {

}

@media (min-width: 769px) {
  .game-info {
    margin: 0 100px 20px 200px;
  }
}

@media (max-width: 768px) {
  header {
    height: 50px;

    h1 {
      font-size: 2em;
    }
  }

  .home {
    padding: 10px 20px;
  }

  .game-info {
    margin: 0 20px 10px 20px;
  }

  .game-control {
    margin-top:  10px;
  }
}