
//
// Margin
//
.mb-xlg {
  margin-bottom: 30px;
}

.mt-lg {
  margin-top: 20px;
}

.mr-lg {
  margin-right: 20px;
}

.ml-lg {
  margin-left: 20px;
}

.mb-lg {
  margin-bottom: 20px;
}

.mb-md {
  margin-bottom: 10px;
}

.mt-md {
  margin-top: 10px;
}

.ml-md {
  margin-left: 10px;
}

.mr-md {
  margin-right: 10px;
}

.m-none {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mlr-lg {
  margin: 0 25px;
}


//
// Padding
//
.p-lg {
  padding: 20px;
}

.p-md {
  padding: 15px;
}

.p-sm {
  padding: 10px;
}

.p-xsm {
  padding: 5px;
}

.pl-lg {
  padding-left: 20px;
}

.pr-lg {
  padding-right: 20px;
}

.pt-lg {
  padding-top: 20px;
}

.pb-lg {
  padding-bottom: 20px;
}

.p-xl {
  padding: 10px 35px;
}

.p-l {
  padding: 10px 20px;
}

.plr-lg {
  padding: 0 25px;
}