.sidebar-open {
  .sidebar {
    left: 0;
  }
}

.sidebar {
  transition: 0.2s;
  position: fixed;
  left: -200px;
  z-index: 1;
  display: inline !important;
  width: 200px;
  height: 100%;
  padding: 0;
  color: #fff;
  background: #263238;
  //padding-top: 51px;

  .nav-link {
    color: #fff;

    &:hover {
      background: #20A8D7;
    }
  }
}