$bgBodyGray: #838588;
$bgImage: url('../images/bg1.jpg');
$baseBg: $bgBodyGray $bgImage;

$clWhite: #fff;

$borderGray: #cfd8dc;

$txMuteGray: #b0bec5;

$errorText: #FF1A21;

$baseFont: 'Ubuntu', 'Open Sans', 'Helvetica', sans-serif;

$bRadiusSm: 2px;
$bRadiusMd: 4px;
$bRadiusLg: 6px;