@import '~@angular/material/core/theming/all-theme';

$titleColorWhite     : #fff;
$titleColor          : #333;
$textColor           : #444;

$borderInput         : #0097a7;

$placeHolderInput    : #ccc;
$borderColorLightGray: #ccc;